VITE_SUPABASE_URL=https://hotakbhmppbsxkbzprqa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhvdGFrYmhtcHBic3hrYnpwcnFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MTQ0NTIsImV4cCI6MjA5NzE5MDQ1Mn0.dLKw0Cf6VD_QvPWCIOxO0d6m3oXQtT3JLvOWZ741Le8
